<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">{{ __('Dashboard') }}</div>

          <div class="card-body">
            @if (session('status'))
            <div class="alert alert-success" role="alert">{{ session('status') }}</div>
            @endif
            {{ __('You are logged in!') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
 
<script>
export default {
  data() {
    return {
      articles: []
    };
  },
  created() {
    let uri = "api/user";
    this.axios.get(uri).then(response => {
      this.articles = response.data;
    });
  },
  methods: {
    deletePost(id) {
      this.$swal
        .fire({
          title: "Apakah kamu yakin?",
          text: "Jika kamu hapus, maka data tidak akan kembali lagi.",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Hapus Deh",
          cancelButtonText: "Nggak Jadi"
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Success!",
              text: "Article deleted successfully",
              icon: "success",
              timer: 1000
            });
            let uri = `api/user/delete/${id}`;
            this.axios.delete(uri).then(response => {
              this.articles.splice(this.articles.indexOf(id), 1);
            });
            console.log("Deleted article with id ..." + id);
          }
        });
    }
  }
};
</script>